# Core functionality - changes here should be rare!
/src/app.py                   @amoghazy
/src/backend/database.py      @amoghazy
/src/backend/routers/auth.py  @amoghazy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @amoghazy
